@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  display: none;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
}

.calculator__operator {
  color: #ffffff;
  background-color: #000000;
}

.calculator__input {
  color: #7e7e7e;
  background-color: #d7d7d7;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-inline: 230px;
  margin: 0 auto;
}
.calculator__input {
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  max-width: 135px;
  line-height: 1.25;
  height: 35px;
}
.calculator__operators {
  display: flex;
  max-width: 62px;
  justify-content: space-between;
  row-gap: 10px;
  flex-wrap: wrap;
}
.calculator__operator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 10px) / 2);
  text-align: center;
  border-radius: 50%;
  padding: 5px 10px;
  max-width: 25px;
  max-height: 25px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}
.calculator__main {
  display: flex;
  gap: 38px;
  align-items: center;
}

.header__container {
  padding: 32px 0;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 93px;
  height: 38px;
}
.header__nav {
  width: 100%;
  align-items: center;
  display: flex;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list__wrapper {
  display: flex;
  gap: 50px;
}

.links__item {
  position: relative;
}

.links__link {
  font-size: 12px;
}

.links__link--interactive {
  display: flex;
  align-items: center;
  gap: 10px;
}
.links__link--interactive::after {
  content: "";
  background-image: url("/src/images/header/arrow.svg");
  width: 11px;
  height: 7px;
  display: flex;
  background-repeat: no-repeat;
}

.submenu {
  position: absolute;
  padding-top: 20px;
  min-width: 160px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.submenu__wrapper {
  border: 1px solid #000000;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: padding-box;
}
.submenu__item {
  padding: 10px 50px;
  text-align: center;
}
.submenu__item:hover {
  background-color: #f1f1f1;
}
.submenu__item:last-child:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.links__item--interactive:hover .submenu {
  opacity: 1;
  visibility: visible;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7a7a7a;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  transition: 0.4s;
  border: 0.5px solid #000000;
  background-image: url("/src/images/header/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider::before {
  transform: translateX(26px);
  background-image: url("/src/images/header/moon.svg");
  background-color: #000000;
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.biggest-number {
  text-align: center;
}

.maximum__title {
  margin-bottom: 36px;
  font-size: 16px;
  color: #000000;
}

.maximum__inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  gap: 38px;
}

.maximum__input {
  max-width: 135px;
  max-height: 35px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #d7d7d7;
  font-size: 12px;
  color: #7e7e7e;
  box-shadow: inset -3 -3 0 0 #7a7a7a;
}

.maximum__text {
  font-size: 12px;
  color: #000000;
}/*# sourceMappingURL=index.css.map */