img {
  display: block;
  width: 100%;
  max-width: 100%;
}
body {
  font-weight: 400;
  font-size: 12px;
  color: $colorTextPrimary;
}
.title {
  $fontTextPrimary: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 320px) {
}
