html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
body {
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-text-primary);
  padding-bottom: 30px;
}

html[data-theme='dark'] body {
  background-color: var(--color-button);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  display: none;
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0 auto;
  background-color: var(--main-background);
}

main.img {
  background-image: url('/src/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main.fiximg {
  max-width: 1440px;
  background-size: cover;
}

.title {
  font-family: $fontTextPrimary;
  font-size: 16px;
  line-height: calc(20px / 16px);
  margin-bottom: 36px;
  text-align: center;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
input {
  color: var(--color-text-secondary);
  background-color: var(--background-color-primary);
}

html[data-theme='dark'] input {
  color: var(--color-text-primary-dark);
}

.game__container {
  padding: 36px 0;
  position: relative;
  &::after {
    content: '';
    background-color: var(--color-text-primary);
    height: 1px;
    width: 536px;
    position: absolute;
    bottom: -36px;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

section:last-child .game__container {
  &::after {
    display: none;
  }
}

.calculator-year__container,
.guess-number__container {
  max-width: 576px;
}

.google-dinosaur,
.soccer {
  max-width: 720px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 320px) {
}
