// colors
$colorTextPrimary: #000000;
$colorTextSecondary: #7e7e7e;
$backgroundColorPrimary: #d7d7d7;
$backgroundColorSecondary: #7a7a7a;
$backgroundColorTertiary: #f1f1f1;
$colorButton: #ffffff;
$colorTrue: #039900;
$colorFalse: #990000;
// fonts
$fontTextPrimary: 'Montserrat Alternates', sans-serif;
$fontTextSecondary: 'Inter', sans-serif;

[data-theme='dark'] {
  $colorTextPrimary: #ffffff;
  $colorTextSecondary: #444444;
  $backgroundColorPrimary: #413e3e;
  $backgroundColorSecondary: #d3d3d3;
  $backgroundColorTertiary: #393939;
  $colorButton: #000000;
}
