// colors
$colorTextPrimary: #000000;
$colorTextSecondary: #7e7e7e;
$backgroundColorPrimary: #d7d7d7;
$backgroundColorSecondary: #7a7a7a;
$backgroundColorFourth: #d9d9d9;
$backgroundColorTertiary: #f1f1f1;
$backgroundColorChosenScientist: #cacaca;
$colorButton: #ffffff;
$colorTrue: #039900;
$colorFalse: #990000;
$colorBackdrop: #00000071;
$modalDinosaur: #787878a7;
$shadow: rgba(0, 0, 0, 0.25);
$soccerField: #5abb58;
$mainBackground: #f0f0f0;
$colorDot: #bbb;
// fonts
$fontTextPrimary: 'Montserrat Alternates', sans-serif;
$fontTextSecondary: 'Inter', sans-serif;
