<section class="calculator">
  <div class="calculator__container container">
    <h2 class="calculator__title title">Калькулятор</h2>
    <div class="calculator__main">
      <label for="calculator-first-number">Перше число</label>
      <input
        type="number"
        class="calculator__input"
        id="calculator-first-number"
        placeholder="Введіть число"
      />
      <div class="calculator__operators">
        <button class="calculator__operator">+</button>
        <button class="calculator__operator">*</button>
        <button class="calculator__operator">-</button>
        <button class="calculator__operator">/</button>
      </div>
      <label for="calculator-first-number">Друге число</label>
      <input
        type="number"
        class="calculator__input"
        id="calculator-second-number"
        placeholder="Введіть число"
      />
      <button class="calculator__operator">=</button>
      <label for="calculator-first-number">Результат</label>
      <input
        type="number"
        class="calculator__input"
        id="calculator-result"
        placeholder="Результат"
      />
    </div>
  </div>
</section>
