<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo logo">
      <img src="/src/images/header/logo.svg" alt="Coding Magic" />
    </div>
    <ul class="footer__contacs">
      <li class="footer__contact">
        Тел: <a href="tell:+38(123)4567890"> +38 (123) 456 78 90</a>
      </li>
      <li class="footer__contact">
        E-Mail: <a href="mailto:codingmagic@gmail.com">codingmagic@gmail.com</a>
      </li>
      <li class="footer__contact">Facebook: <a href="#">CodingMagic</a></li>
      <li class="footer__contact">Twitter: <a href="#">CodingMagic</a></li>
      <li class="footer__contact">Instagram: <a href="#">CodingMagic</a></li>
    </ul>
    <form action="" class="footer__form">
      <label for="footer-input">Введіть адресу</label>
      <input
        required
        type="email"
        class="footer__input"
        id="footer-input"
        placeholder="Ваша ел. адреса..."
      />
      <button class="footer__button" type="submit" id="submit-footer-button">
        Підписатись
      </button>
      <p class="footer__agreement">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </form>
  </div>
</footer>
