<header class="header">
  <div class="header__container container">
    <div class="header__logo header-logo">
      <img src="/src/images/header/logo.svg" alt="Logo" />
    </div>
    <nav class="header__nav nav" data-menu>
      <div class="menu nav__list">
        <div class="nav__wrapper">
          <ul class="menu__list links">
            <li class="links__item links__item--interactive">
              <a class="links__link links__link--interactive" href="#about-us"
                >Інтерактив</a
              >
              <ul class="submenu">
                <div class="submenu__wrapper">
                  <li class="submenu__item">
                    <a href="" class="submenu__link">Числовий</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__link">Ігровий</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__link">Ознайомчий</a>
                  </li>
                </div>
              </ul>
            </li>
            <li class="links__item">
              <a class="links__link" href="#teachers">Наша команда</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#reviews">Контакти</a>
            </li>
          </ul>
        </div>
        <div class="nav-list__wrapper">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
          <div class="log-in menu__login">
            <button class="log-in__link" data-login-open>Вітаємо</button>
          </div>
        </div>
      </div>
      <button class="nav__btn btn-menu" data-open_btn>
        <span class="btn-menu__icon"></span>
      </button>
    </nav>
  </div>
</header>
