<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/sass/components/leap-year.scss" />
    <link rel="stylesheet" href="./sass/index.scss" />
  </head>
  <body>
    <div class="calculator__year-container">
      <form action="#" class="form__check-year">
        <input
          class="input__check-year"
          type="number"
          id="year"
          placeholder="Введіть рік народження"
        />
        <button class="button__check-year" id="checkYearButton"></button>
      </form>

      <p class="result__check-year" id="result"></p>
    </div>
    <script src="/src/js/leap-year.js"></script>
  </body>
</html>
