<section class="scientists">
  <div class="scientists__container container">
    <h2 class="scientists__title title">Обери вченого/их</h2>
    <ul class="scientists__list people">
      <div class="scientist__item"></div>
      <div class="people__scientist">
        <article class="scientist-card">
          <div class="scientist-card__photo">
            <img src="" alt="" class="scientist-card__img" />
          </div>
          <div class="scientist-card__meta">
            <p class="scientist-card__name"></p>
            <p class="scientist-card__date"></p>
          </div>
        </article>
      </div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
      <div class="people__scientist"></div>
    </ul>
    <div class="scientists__buttons-container">
      <div class="scientists__buttons">
        <ul class="scientists__buttons-list scientists--buttons-list-left">
          <li>
            <button class="scientists__button">
              Які вчені народилися в 19 ст.
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Відсортувати вчених за алфавітом
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Відсортувати вчених за кількістю прожитих років
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Знайти вченого, який народився найпізніше
            </button>
          </li>
        </ul>
        <ul class="scientists__buttons-list scientists--buttons-list-right">
          <li>
            <button class="scientists__button">
              Знайти рік народження Albert Einshtein
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Знайти вчених, прізвища яких починаються на на літеру “С”
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Видалити всіх вчених, ім’я яких починається на “А”
            </button>
          </li>
          <li>
            <button class="scientists__button">
              Знайти вченого, який прожив найдовше і вченого, який прожив
              найменше
            </button>
          </li>
        </ul>
      </div>
      <button class="scientists__button scientists--button">
        1. Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </div>
  </div>
</section>
