.main-title {
  font-size: 24px;
  text-align: center;
  position: relative;
  padding-top: 36px;
  &::after {
    content: '';
    background-color: var(--color-text-primary);
    height: 1px;
    width: 536px;
    position: absolute;
    bottom: -36px;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }
}

.calculator-year {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.form__check-year {
  display: flex;
  box-shadow: 3px 3px 0px 0px var(--shadow);
  border-radius: 20px;
}
.input__check-year {
  width: 180px;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--background-color-primary);
}

html[data-theme='dark'] .button__check-year {
  background-color: var(--color-text-primary-dark);
}
.button__check-year {
  width: 35px;
  height: 35px;

  padding-top: 10px;
  gap: 10px;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--color-text-primary);
  background-image: url(/src/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.result__check-year {
  font-weight: 400;
  text-align: right;
}
