.guess-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form__numerical {
  display: flex;
  box-shadow: 3px 3px 0px 0px $shadow;
  border-radius: 20px;
}
.input__numerical {
  max-width: 150px;
  padding: 10px 45px 10px 10px;
  border-radius: 20px 0px 0px 20px;
  background-color: $backgroundColorPrimary;
}
.button__numerical {
  width: 35px;
  height: 35px;

  gap: 10px;
  border-radius: 0px 20px 20px 0px;
  background-color: $colorTextPrimary;
  background-image: url(/src/images//buttonIcon/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.result__numerical {
  text-align: right;
}
