.our-team {
  position: relative;
}

.team-slider {
  overflow: hidden;
  margin-bottom: 25px;
}
.title__our-team {
  text-align: center;
  font-size: 2em;
  margin-bottom: 36px;
}
.team-list {
  display: flex;
  text-align: center;
  transform: translatex(0%);
  transition: transform 1s ease;
  margin-bottom: 24px;
}
.team-item {
  min-width: 100%;
}
.teammate__photo {
  max-width: 200px;
  height: 200px;
}
.left-button {
  position: absolute;
  top: 50%;
  left: -50px;
  background-image: url(/src/images/our-tamate/left.svg);
  width: 50px;
  height: 100px;
}

html[data-theme='dark'] .left-button {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(129deg) brightness(106%) contrast(101%);
}
html[data-theme='dark'] .right-button {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(129deg) brightness(106%) contrast(101%);
}
.right-button {
  position: absolute;
  top: 50%;
  right: -50px;
  background-image: url(/src/images/our-tamate/right.svg);
  width: 51px;
  height: 100px;
}

.name__teammate {
  margin: 20px 0;
  font-size: 14px;
}
.info__teammate {
  max-width: 315px;
  line-height: calc(15 / 12);
}
.footo__teamate {
  border-radius: 20px;
  max-height: 100%;
}
.pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.dot {
  width: 40px;
  height: 5px;
  border-radius: 30px;
  background-color: var(--color-dot);
  cursor: pointer;
}
.dot.active {
  background-color: var(--background-dot);
}

.teammate__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
