.rock-paper-scissors {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }

  &__button {
    background-color: $colorTextPrimary;
    color: white;
    padding: 30px;
    border-radius: 20px;
    background-image: url('/src/images/rock-paper-scissors/scissors.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;

    &--paper {
      background-image: url('/src/images/rock-paper-scissors/paper.svg');
    }

    &--rock {
      background-image: url('/src/images/rock-paper-scissors/stone.svg');
    }
  }
}

.rock-paper-scissors {
  display: flex;
  width: 100%;
  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 38px;
    margin: 0 auto;
    width: 50%;
  }
}

.score__container {
  width: 25%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.result {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
  }
  &__text {
    text-align: center;
  }
  &__button {
    background-color: $colorTextPrimary;
    color: $colorButton;
    padding: 10px 20px;
    align-content: center;
    border-radius: 20px;
    cursor: pointer;
  }
}
