.soccer__yard {
  width: 720px;
  height: 220px;
  border-radius: 37px;
  background: var(--soccer-field);
  border: 2px solid var(--color-text-primary);
  position: relative;
  overflow: hidden;
}
.ball {
  background-image: url(/src/images/soccer/football.svg);
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 92px;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  transition-property: top, left;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
.rotate {
  animation: rotateBall 1.5s ease-out infinite;
}
@keyframes rotateBall {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
