.time-calculator {
  display: flex;
  justify-content: center;
}
.time-calculator__title {
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}
.time-calculator__formcontainer {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  align-items: center;
  &::after {
    content: '- - - - - - - - - - - - -';
    display: flex;
    align-items: center;
  }
}
.time-calculator__form {
  display: flex;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  justify-content: center;
}
.time-calculator__input {
  padding: 10px 45px 10px 10px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  max-width: 150px;
  background-color: $backgroundColorPrimary;
  font-size: 12px;
  color: $colorTextSecondary;
}

.time-calculator__button {
  background-repeat: no-repeat;
  background-image: url(/src/images/time_calculator/search_icon.svg);
  background-size: 15px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-color: $colorTextPrimary;
  padding: 10px;

  border-radius: 0 20px 20px 0;
}
.time-calculator_result {
  font-size: 12px;
  order: 2;
}
